In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [3]:
response = requests.get(endpoint)
response

In [36]:
result = response.json()

In [5]:
len(result)

1000

In [6]:
# 2016 fire seach endpoint
fire_ep = 'https://data.nashville.gov/resource/fuaa-r5cm.json?query_text=fire&year=2016'

In [38]:
#fire endpoint response
fire_resp = requests.get(fire_ep)
fire_resp

In [39]:
# converting fire response into json
fire_result= fire_resp.json()

In [9]:
# pulling out month and query count
search_dict = {}

for line in fire_result:
    month = line.get('month_name')
    count = int(line.get('query_count'))
    if month in search_dict:
        search_dict[month] += count
    else:
        search_dict[month] = count

In [10]:
#converting to dataframe and setting column names
fire_2016_df = pd.DataFrame.from_dict(search_dict, orient = 'index')
fire_2016_df = fire_2016_df.reset_index()
fire_2016_df.columns = ['month','search_count']
fire_2016_df

        month  search_count
0     January            19
1    February            35
2       March            32
3       April            26
4         May            24
5        June            31
6        July            24
7      August            47
8   September            36
9     October            38
10   November            32
11   December            38

##### Question 1. Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?  

Answer: August

In [11]:
params_100q_c = { '$where' : 'query_count > 100'}

qry_count_resp = requests.get(endpoint, params = params_100q_c)
qry_count_resp

In [40]:
qry_count_result = qry_count_resp.json()

In [13]:
len(qry_count_result)

1000

#### Question 2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?  

Answer: 1000

In [14]:
#params for 100 plus queries per month

params_100q = { '$where' : 'query_count > 100',
                'query_text' : 'codes'}

qry_count_code_resp = requests.get(endpoint, params = params_100q)
qry_count_code_resp

In [15]:
#converting to json
qry_code_count_result = qry_count_code_resp.json()
qry_code_count_result

[{'month_name': 'September',
  'year': '2015',
  'query_count': '101',
  'query_text': 'codes'},
 {'month_name': 'April',
  'month': '4',
  'year': '2021',
  'query_count': '102',
  'query_text': 'codes'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '104',
  'query_text': 'codes'},
 {'month_name': 'November',
  'month': '11',
  'year': '2020',
  'query_count': '104',
  'query_text': 'codes'},
 {'month_name': 'December',
  'year': '2017',
  'query_count': '106',
  'query_text': 'codes'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '107',
  'query_text': 'codes'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '111',
  'query_text': 'codes'},
 {'month_name': 'July',
  'month': '7',
  'year': '2021',
  'query_count': '114',
  'query_text': 'codes'},
 {'month_name': 'January',
  'year': '2017',
  'query_count': '115',
  'query_text': 'codes'},
 {'month_name': 'May',
  'month': '5',
  'year': '2021',
  'query_count': '115',
  'query_text': 'codes'},
 {'month_name': 'August',
  'year': '2015',
  'query_count': '117',
  'query_text': 'codes'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '121',
  'query_text': 'codes'},
 {'month_name': 'February',
  'month': '2',
  'year': '2019',
  'query_count': '124',
  'query_text': 'codes'},
 {'month_name': 'June',
  'month': '6',
  'year': '2019',
  'query_count': '125',
  'query_text': 'codes'},
 {'month_name': 'September',
  'month': '9',
  'year': '2019',
  'query_count': '126',
  'query_text': 'codes'},
 {'month_name': 'January',
  'month': '1',
  'year': '2019',
  'query_count': '129',
  'query_text': 'codes'},
 {'month_name': 'September',
  'month': '9',
  'year': '2020',
  'query_count': '130',
  'query_text': 'codes'},
 {'month_name': 'February',
  'month': '2',
  'year': '2021',
  'query_count': '131',
  'query_text': 'codes'},
 {'month_name': 'March',
  'month': '3',
  'year': '2019',
  'query_count': '133',
  'query_text': 'codes'},
 {'month_name': 'November',
  'month': '11',
  'year': '2019',
  'query_count': '134',
  'query_text': 'codes'},
 {'month_name': 'March',
  'month': '3',
  'year': '2021',
  'query_count': '134',
  'query_text': 'codes'},
 {'month_name': 'November',
  'year': '2017',
  'query_count': '138',
  'query_text': 'codes'},
 {'month_name': 'June',
  'month': '6',
  'year': '2021',
  'query_count': '138',
  'query_text': 'codes'},
 {'month_name': 'October',
  'month': '10',
  'year': '2020',
  'query_count': '139',
  'query_text': 'codes'},
 {'month_name': 'December',
  'month': '12',
  'year': '2019',
  'query_count': '143',
  'query_text': 'codes'},
 {'month_name': 'February',
  'year': '2017',
  'query_count': '150',
  'query_text': 'codes'},
 {'month_name': 'August',
  'month': '8',
  'year': '2019',
  'query_count': '156',
  'query_text': 'codes'},
 {'month_name': 'March',
  'year': '2017',
  'query_count': '158',
  'query_text': 'codes'},
 {'month_name': 'October',
  'month': '10',
  'year': '2019',
  'query_count': '159',
  'query_text': 'codes'},
 {'month_name': 'July',
  'month': '7',
  'year': '2019',
  'query_count': '161',
  'query_text': 'codes'},
 {'month_name': 'January',
  'month': '1',
  'year': '2020',
  'query_count': '161',
  'query_text': 'codes'},
 {'month_name': 'March',
  'month': '3',
  'year': '2020',
  'query_count': '164',
  'query_text': 'codes'},
 {'month_name': 'July',
  'month': '7',
  'year': '2020',
  'query_count': '164',
  'query_text': 'codes'},
 {'month_name': 'December',
  'month': '12',
  'year': '2020',
  'query_count': '165',
  'query_text': 'codes'},
 {'month_name': 'July',
  'year': '2018',
  'query_count': '166',
  'query_text': 'codes'},
 {'month_name': 'September',
  'year': '2017',
  'query_count': '168',
  'query_text': 'codes'},
 {'month_name': 'April',
  'month': '4',
  'year': '2019',
  'query_count': '168',
  'query_text': 'codes'},
 {'month_name': 'April',
  'year': '2018',
  'query_count': '170',
  'query_text': 'codes'},
 {'month_name': 'September',
  'year': '2018',
  'query_count': '171',
  'query_text': 'codes'},
 {'month_name': 'October',
  'year': '2018',
  'query_count': '174',
  'query_text': 'codes'},
 {'month_name': 'August',
  'month': '8',
  'year': '2020',
  'query_count': '178',
  'query_text': 'codes'},
 {'month_name': 'February',
  'month': '2',
  'year': '2020',
  'query_count': '181',
  'query_text': 'codes'},
 {'month_name': 'May',
  'year': '2018',
  'query_count': '183',
  'query_text': 'codes'},
 {'month_name': 'May',
  'month': '5',
  'year': '2020',
  'query_count': '184',
  'query_text': 'codes'},
 {'month_name': 'March',
  'year': '2018',
  'query_count': '185',
  'query_text': 'codes'},
 {'month_name': 'April',
  'year': '2017',
  'query_count': '190',
  'query_text': 'codes'},
 {'month_name': 'January',
  'month': '1',
  'year': '2021',
  'query_count': '191',
  'query_text': 'codes'},
 {'month_name': 'June',
  'year': '2017',
  'query_count': '192',
  'query_text': 'codes'},
 {'month_name': 'November',
  'year': '2018',
  'query_count': '201',
  'query_text': 'codes'},
 {'month_name': 'June',
  'year': '2018',
  'query_count': '204',
  'query_text': 'codes'},
 {'month_name': 'October',
  'year': '2017',
  'query_count': '206',
  'query_text': 'codes'},
 {'month_name': 'June',
  'month': '6',
  'year': '2020',
  'query_count': '208',
  'query_text': 'codes'},
 {'month_name': 'July',
  'year': '2017',
  'query_count': '215',
  'query_text': 'codes'},
 {'month_name': 'August',
  'year': '2017',
  'query_count': '222',
  'query_text': 'codes'},
 {'month_name': 'August',
  'year': '2018',
  'query_count': '225',
  'query_text': 'codes'},
 {'month_name': 'May',
  'year': '2017',
  'query_count': '269',
  'query_text': 'codes'}]

In [16]:
#setting up dictionary
query_dict = {}

for lines in qry_code_count_result:
    months = lines.get('month_name')
    counts = int(lines.get('query_count'))
    
    if months in query_dict:
        query_dict[months] += counts
    else:
        query_dict[months] = counts

In [17]:
#turning dictionary into dataframe
qry_count_df = pd.DataFrame.from_dict(query_dict, orient = 'index')
qry_count_df = qry_count_df.reset_index()
qry_count_df.columns = ['month','code_counts']
qry_count_df

        month  code_counts
0   September          696
1       April          741
2      August         1002
3    November          577
4    December          414
5         May          858
6        July          820
7     January          596
8    February          707
9        June          867
10      March          774
11    October          678

In [18]:
#total code counts
len(qry_code_count_result)

56

#### Question 3. Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur? 

Answer: 56

In [25]:
#parameters for full dataset
params_full_ds = {'$limit' : '50000'}

full_dataset_resp = requests.get(endpoint, params = params_full_ds)
full_dataset_resp

In [41]:
top_500_searches = full_dataset_resp.json()

In [27]:
len(top_500_searches)

43677